@model ECommerce.Models.ViewModels.Products.ProductAddViewModel

<form asp-controller="Products" asp-action="Add" method="post">
    <div class="mb-3">
        <label asp-for="Name"  class="form-label">Ürün adı</label>
        <input asp-for="Name" type="text" class="form-control">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="Price"  class="form-label">Ürünün Değeri </label>
        <input asp-for="Price" type="number" class="form-control">
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
    
    
   <vc:category-select-list></vc:category-select-list>
 
    
    
   

    <button type="submit" class="btn btn-primary mt-2">Ürün Ekle</button>
</form>


