@model Product

<div class="alert alert-primary" role="alert">
   <strong>Ürün Adı :</strong> @Model.Name 
</div>


<div class="alert alert-success" role="alert">
   <strong>Ürün Fiyatı :</strong> @Model.Price 
</div>


